.settings {
  flex-grow: 1;
  margin-left: 24px;
}

.settings-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}

.settings-inner {
  display: flex;
}
