@import "../../../assets/styles/mixin";

.order {
  position: relative;
  padding: 24px;
  background: #1f1d2b;
  border-radius: 8px;
}

.order_header {
  border-bottom: 1px solid #393c49;
}

.order_txt {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.left {
  margin-right: auto;
}

.qty {
  margin-right: 26px;
}

.order_btn {
  margin-right: 8px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  padding: 12px 7px;
  color: #fff;
  background: #ea7c69;
  border-radius: 8px;
  border: 0;
}

.inactivve {
  background-color: #1f1d2b;
  color: #ea7c69;
  border: 1px solid #393939;
}

.order_main-list {
  @include unstyled;
  width: 330px;
  height: 454px;
  overflow: scroll;
}

.order_main-list::-webkit-scrollbar {
  display: none;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order_item {
  display: flex;
}

.order_img {
  width: 45px;
  height: 45px;
  margin-top: 13px;
  margin-right: 6px;
  border-radius: 50%;
}

.order_title {
  width: 140px;
  margin-bottom: 0;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.current_price {
  font-weight: 500;
  color: #abbbc2;
}

.quantity {
  margin-right: 24px;
  padding: 19px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
}

.total_price {
  font-weight: 500;
  color: #fff;
}

.order_input {
  width: 100%;
  margin-bottom: 24px;
  padding: 14px;
  padding-right: 88px;
  background: #2d303e;
  color: #fff;
  border: 1px solid #393c49;
  border-radius: 8px;
}

.order_input::placeholder {
  color: #e0e6e9;
}

.delete_order {
  margin-top: 5px;
  margin-left: 9px;
  padding: 20px 22px;
  border: 0;
  background-image: url("../../../assets/images/icons/Trash.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #1f1d2b;
  background-position: center center;
  border-radius: 8px;
  border: 1px solid #ea7c69;
}

.order_footer {
  position: absolute;
  z-index: 2;
  padding-right: 24px;
  padding-bottom: 24px;
  bottom: 0;
  border-top: 1px solid #2d303e;
  background-color: #1f1d2b;
}

.discount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment_btn {
  display: inline-block;
  margin-top: 45px;
  padding: 14px 102px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  color: #fff;
  border: 0;
  cursor: pointer;
}
