.sidebar {
  display: flex;
  flex-direction: column;
  width: 104px;
  height: 100vh;
  padding-top: 24px;
  padding-left: 14px !important;
  background: #1f1d2b;
  border-radius: 16px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

// .sidebar_item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 92px;
//     height: 80px;
// }

.sidebar_item:first-child {
  display: flex;
  justify-content: center;
}

.active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 80px;
  background: #252836;
  color: #fff;
  padding: 13px 24px 11px 12px;
  border-radius: 12px 0px 0px 12px;
}

.active::before {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("../../assets/images/corner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.active::after {
  position: absolute;
  right: 0;
  top: 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("../../assets/images/corner.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateX(180deg);
}

.inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 80px;
  padding: 13px 24px 11px 12px;
  border-radius: 12px 0px 0px 12px;
  color: #ea9769;
}

.inactive svg {
  display: inline-block;
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
}

.active svg {
  display: inline-block;
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  background-color: #ea9769;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
